*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    font-size: var(--body-text);
    height: 100vh;
    width: 100vw;
}

.logo{
    font-size: var(--logo);
    font-weight: 600;
}

.heading1{
    font-size: var(--heading-1)
} 

.heading2{
    font-size: var(--heading-2)
} 

.heading3{
    font-size: var(--heading-3)
} 

.body-text{
    font-size: var(--body-text)
} 

.caption{
    font-size: var(--caption)
} 