:root{
    --primary-color: #1F4E79;
    --secondary-color: #DEEBF7;
    
    --primary-hover: #316999;
    --secondary-hover: #fafafa	;

    --original-price-color: #7F7F7F;
    --discounted-price-color: #00B050; 
    
    --background-color: #F2F2F2;
    --line-color: #D9D9D9;
    --link-text: #0000EE;

    --big-gap: 24px;
    --medium-gap: 16px;
    --small-gap: 8px;
    --smallest-gap: 4px;

    --logo: 36px;
    --heading-1: 26px;
    --heading-2: 20px;
    --heading-3: 16px;
    --body-text: 14px;
    --caption: 12px;

    --icon-small: 18px;
    --icon-big: 24px;

    --caption-opacity: 0.6;

}
